#!/bin/bash

set -x



mkdir -p /etc/beegfs/tuning

echo '
storeMgmtdDirectory      =
storeAllowFirstRunInit   = true
sysAllowNewServers       = true
sysAllowNewTargets       = true
connAuthFile  = /nfs/cluster/scripts/connauthfile
connDisableAuthentication  = false
connBacklogTCP                         = 128
connInterfacesFile                     =
connMgmtdPortTCP                       = 8008
connMgmtdPortUDP                       = 8008
connNetFilterFile                      =
connPortShift                          = 0
logType                                = logfile
logLevel                               = 2
logNoDate                              = false
logNumLines                            = 50000
logNumRotatedFiles                     = 5
logStdFile                             = /var/log/beegfs-mgmtd.log
quotaQueryGIDFile                      =
quotaQueryGIDRange                     =
quotaQueryUIDFile                      =
quotaQueryUIDRange                     =
quotaQueryType                         = system
quotaQueryWithSystemUsersGroups        = false
quotaUpdateIntervalMin                 = 10
runDaemonized                          = true
sysTargetOfflineTimeoutSecs            = 180
tuneClientAutoRemoveMins               = 30
tuneNumWorkers                         = 4
tuneMetaDynamicPools                   = true
tuneMetaInodesLowLimit                 = 10M
tuneMetaInodesEmergencyLimit           = 1M
tuneMetaSpaceLowLimit                  = 10G
tuneMetaSpaceEmergencyLimit            = 3G
tuneStorageDynamicPools                = true
tuneStorageInodesLowLimit              = 10M
tuneStorageInodesEmergencyLimit        = 1M
tuneStorageSpaceLowLimit               = 1T
tuneStorageSpaceEmergencyLimit         = 20G
quotaEnableEnforcement                 = false
' > /etc/beegfs/tuning/beegfs-mgmtd.conf


echo '
connAuthFile  = /nfs/cluster/scripts/connauthfile
connDisableAuthentication  = false
connMaxInternodeNum          = 800
tuneNumWorkers               = 128
tuneTargetChooser            = randomrobin
' > /etc/beegfs/tuning/beegfs-meta.conf


# tuneFileReadSize             = 256k
# tuneFileWriteSize            = 256k

echo '
connAuthFile  = /nfs/cluster/scripts/connauthfile
connDisableAuthentication  = false
connMaxInternodeNum          = 800
tuneNumWorkers               = 128
tuneFileReadAheadSize        = 32m
tuneFileReadAheadTriggerSize = 1m
tuneFileReadSize             = 1024k
tuneFileWriteSize            = 1024k
tuneWorkerBufSize            = 16m
tuneBindToNumaZone           = 0
' > /etc/beegfs/tuning/beegfs-storage.conf

# Set preferred storage target to be local to the node.  This makes sense if we plan to use numtargets=1 for IO
targetNumID=`ip addr | grep "192.168" | gawk -F" " '{ print $2 }' | gawk -F"/" '{ print $1 }' | gawk -F"." '{ print $4 }'`
type="client"
echo "$targetNumID" > /etc/beegfs/tuning/${type}-tunePreferredStorageFile.conf
##sed -i "s|tunePreferredStorageFile.*=.*|tunePreferredStorageFile          = /etc/beegfs/${type}-tunePreferredStorageFile.conf|g"  /etc/beegfs/beegfs-${type}.conf


echo '
connAuthFile  = /nfs/cluster/scripts/connauthfile
connDisableAuthentication  = false
# bytes -  65536 32768
connRDMABufSize              = 65536
# https://www.beegfs.io/wiki/NativeInfinibandSupport - Mellanox Infiniband Tuning
connRDMABufNum               = 22
connMaxInternodeNum          = 800
tuneNumWorkers               = 128
#tunePreferredStorageFile     = /etc/beegfs/tuning/client-tunePreferredStorageFile.conf
' > /etc/beegfs/tuning/beegfs-client.conf

sed -i "s/^connDisableAuthentication.*/connDisableAuthentication     = false/g" /etc/beegfs/beegfs-*.conf
sed -i "s@^connAuthFile.*@connAuthFile  = /nfs/cluster/scripts/connauthfile@g" /etc/beegfs/beegfs-*.conf

echo '
connAuthFile  = /nfs/cluster/scripts/connauthfile
connDisableAuthentication  = false
connHelperdPortTCP = 8006
connPortShift      = 0
logNoDate          = false
logNumLines        = 50000
logNumRotatedFiles = 5
logStdFile         = /var/log/beegfs-client.log
runDaemonized      = true
tuneNumWorkers     = 2
' > /etc/beegfs/tuning/beegfs-helperd.conf


# mds
##sed -i 's/^connMaxInternodeNum/connMaxInternodeNum          = 800/g'  /etc/beegfs/beegfs-meta.conf
##sed -i 's/^tuneNumWorkers/tuneNumWorkers               = 128/g'  /etc/beegfs/beegfs-meta.conf

# mds - 90-beegfs-mds-sysctl.conf
# Assume this applies to TCP version only for now.  Test without it and then run another test with it
# echo '
# proc.sys.vm.dirty_background_ratio=5
# proc.sys.vm.dirty_ratio=20
# proc.sys.vm.vfs_cache_pressure=50
# proc.sys.vm.min_free_kbytes=262144
# proc.sys.vm.zone_reclaim_mode=1
# sys.kernel.mm.transparent_hugepage.enabled=always
# sys.kernel.mm.transparent_hugepage.defrag=always
# ' >> /etc/sysctl.conf



# oss
##sed -i 's/^connMaxInternodeNum/connMaxInternodeNum               = 800/g'  /etc/beegfs/beegfs-storage.conf
##sed -i 's/^tuneNumWorkers/tuneNumWorkers               = 128/g'  /etc/beegfs/beegfs-storage.conf
##sed -i 's/^tuneFileReadAheadSize/tuneFileReadAheadSize               = 32m/g'  /etc/beegfs/beegfs-storage.conf
##sed -i 's/^tuneFileReadAheadTriggerSize/tuneFileReadAheadTriggerSize               = 2m/g'  /etc/beegfs/beegfs-storage.conf
##sed -i 's/^tuneFileReadSize/tuneFileReadSize               = 256k/g'  /etc/beegfs/beegfs-storage.conf
##sed -i 's/^tuneFileWriteSize/tuneFileWriteSize               = 256k/g'  /etc/beegfs/beegfs-storage.conf
##sed -i 's/^tuneWorkerBufSize/tuneWorkerBufSize               = 16m/g'  /etc/beegfs/beegfs-storage.conf





##sed -i 's/tuneBindToNumaZone.*=/tuneBindToNumaZone           = 0/g'  /etc/beegfs/beegfs-storage.conf
##sed -i 's/connRDMABufSize.*= 8192/connRDMABufSize               = 32768/g'  /etc/beegfs/beegfs-client.conf

# common tuning - irrespective of RDMA or TCP
##sed -i 's/connMaxInternodeNum.*= 12/connMaxInternodeNum          = 64/g'  /etc/beegfs/beegfs-client.conf
##sed -i 's/tuneNumWorkers.*= 12/tuneNumWorkers               = 128/g'  /etc/beegfs/beegfs-storage.conf


# Set preferred storage target to be local to the node.  This makes sense if we plan to use numtargets=1 for IO
##targetNumID=`ip addr | grep "192.168" | gawk -F" " '{ print $2 }' | gawk -F"/" '{ print $1 }' | gawk -F"." '{ print $4 }'`
##type="client"
##echo "$targetNumID" > /etc/beegfs/tuning/${type}-tunePreferredStorageFile.conf
##sed -i "s|tunePreferredStorageFile.*=.*|tunePreferredStorageFile          = /etc/beegfs/${type}-tunePreferredStorageFile.conf|g"  /etc/beegfs/beegfs-${type}.conf


###
# MIMIC Beegfs Storage Tuning for all BeeOND nodes
###

function tune_platform {

# all
#echo '
#net.ipv4.neigh.default.gc_thresh1=1100
#net.ipv4.neigh.default.gc_thresh2=2200
#net.ipv4.neigh.default.gc_thresh4=4400
#' >> /etc/sysctl.conf

# network tuning
echo "net.ipv4.tcp_timestamps = 0" >> /etc/sysctl.conf
echo "net.ipv4.tcp_window_scaling = 1" >> /etc/sysctl.conf
echo "net.ipv4.tcp_adv_win_scale=1" >> /etc/sysctl.conf
echo "net.ipv4.tcp_low_latency=1" >> /etc/sysctl.conf
echo "net.ipv4.tcp_sack = 1" >> /etc/sysctl.conf


echo "net.core.wmem_max=16777216" >> /etc/sysctl.conf
echo "net.core.rmem_max=16777216" >> /etc/sysctl.conf
echo "net.core.wmem_default=16777216" >> /etc/sysctl.conf
echo "net.core.rmem_default=16777216" >> /etc/sysctl.conf
echo "net.core.optmem_max=16777216" >> /etc/sysctl.conf
echo "net.core.netdev_max_backlog=27000" >> /etc/sysctl.conf

echo "net.ipv4.tcp_rmem = 212992 87380 16777216" >> /etc/sysctl.conf
echo "net.ipv4.tcp_wmem = 212992 65536 16777216" >> /etc/sysctl.conf

/sbin/sysctl -p /etc/sysctl.conf

echo 5 > /proc/sys/vm/dirty_background_ratio
echo 20 > /proc/sys/vm/dirty_ratio
echo 50 > /proc/sys/vm/vfs_cache_pressure
echo 262144 > /proc/sys/vm/min_free_kbytes
echo 1 > /proc/sys/vm/zone_reclaim_mode

echo always > /sys/kernel/mm/transparent_hugepage/enabled
echo always > /sys/kernel/mm/transparent_hugepage/defrag

tuned-adm profile throughput-performance



}

function tune_disks {
  devices=(nvme0n1)
  for dev in "${devices[@]}"
  do
    echo deadline > /sys/block/${dev}/queue/scheduler
    echo 128 > /sys/block/${dev}/queue/nr_requests
    echo 128 > /sys/block/${dev}/queue/read_ahead_kb
    echo 256 > /sys/block/${dev}/queue/max_sectors_kb
  done
}


tune_platform

# Fails for nvme .  fix it
#tune_disks


#Don't do NIC tuning, even for NIC0.
