/.github/ @__CUSTOMER_ORG__/platform-team
/control-plane.json @__CUSTOMER_ORG__/platform-team
/environments/ @__CUSTOMER_ORG__/platform-team
/oci/dev/ @__CUSTOMER_ORG__/__PROJECT__-dev-approvers
/azure/dev/ @__CUSTOMER_ORG__/__PROJECT__-dev-approvers
/gcp/dev/ @__CUSTOMER_ORG__/__PROJECT__-dev-approvers
/oci/test/ @__CUSTOMER_ORG__/__PROJECT__-test-approvers
/azure/test/ @__CUSTOMER_ORG__/__PROJECT__-test-approvers
/gcp/test/ @__CUSTOMER_ORG__/__PROJECT__-test-approvers
/oci/uat/ @__CUSTOMER_ORG__/__PROJECT__-uat-approvers
/azure/uat/ @__CUSTOMER_ORG__/__PROJECT__-uat-approvers
/gcp/uat/ @__CUSTOMER_ORG__/__PROJECT__-uat-approvers
