.gitignore
shared-assets/bastion-py-script/.oci/
shared-assets/bastion-py-script/temp/
temp/
app-dev/app-integration-and-automation/oracle-integration-cloud/01-oic-connectivity-agent/README_tmp.html
.DS_Store
