[data-testid="collapsedControl"] { display: none; }
header, footer, #MainMenu { visibility: hidden; }

.video-box {
    width: 100%;
    max-width: 800px;
    height: 397px;
    border: 3px solid #00ccff;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}
.video-box p { color: white; font-size: 20px; }

button[kind="primary"] {
    background-color: #c83530 !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    padding: 0.6rem 1.2rem !important;
    font-size: 1rem !important;
    width: 200px;
}
button[kind="primary"]:hover {
    background-color: #a42b26 !important;
}

.banner {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #454E50;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    left: 0;
}
.banner h1 {
    color: #fff;
    font-size: 2rem !important;
    font-weight: 700 !important;
    margin: 0;
}
.banner img {
    height: 60px;
    width: 60px;
    margin-right: 15px;
}
