streamlit==1.48.0           
pandas                      
Pillow                      
pdf2image                   

oci                         
oci-cli                     

langchain==0.3.27           
langchain-core==0.3.81      
langchain-community

# Additional dependencies 
PyPDF2                      
pdf2image                   
Pillow                      
