html,
body {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.markdown-content > * + * {
  margin-top: 1rem;
}

.markdown-content ol,
.markdown-content ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.markdown-content {
  font-family: var(--font-roboto);
}
