#!/usr/bin/env bash

idiot_counter()
{
   ############################################################
   # force user to type a random string to avoid
   # accidental execution of potentially damaging functions
   ############################################################
   # if tr does not work in the line below, try this:
   #  export STUPID_STRING=${DOLLAR}(cat /dev/urandom|LC_ALL=C tr -dc "[:alnum:]"|fold -w 6|head -n 1)
   ############################################################
   export STUPID_STRING="k4JgHrt"
   if [ -e /dev/urandom ];then
     export STUPID_STRING=${DOLLAR}(cat /dev/urandom|LC_CTYPE=C tr -dc "[:alnum:]"|fold -w 6|head -n 1)
   fi
   echo -e "#### type \"${DOLLAR}{STUPID_STRING}\" to approve the above operation ####\n"
   idiot_counter=0
   while true; do
     read line
     case ${DOLLAR}line in
       ${DOLLAR}{STUPID_STRING}) break;;
       *)
         idiot_counter=${DOLLAR}((${DOLLAR}((${DOLLAR}idiot_counter+1))%2));
         if [[ ${DOLLAR}idiot_counter == 0 ]];then
           echo -e "###\n### YOU FAIL !\n###\n### exiting..."; exit;
         fi
         echo "#### type \"${DOLLAR}{STUPID_STRING}\" to approve the operation above, CTRL-C to abort";
         ;;
     esac
   done
}

INSTANCE_ID=${DOLLAR}(curl -s -H "Authorization: Bearer Oracle" http://169.254.169.254/opc/v2/instance/id)
AGENT_CONFIG="{\"allPluginsDisabled\": false,\"managementDisabled\": false,\"monitoringDisabled\": false,\"pluginsConfig\": [{\"desiredState\": \"ENABLED\",\"name\": \"OS Management Hub Agent\"}]}"

ARCH_TYPE="${DOLLAR}(uname -m)"
ARCH_TYPE="${DOLLAR}{ARCH_TYPE^^}"
source /etc/os-release
if [[ "${DOLLAR}VERSION_ID" == 8* ]]; then
    OS_FAMILY="ORACLE_LINUX_8"
elif [[ "${DOLLAR}VERSION_ID" == 9* ]]; then
    OS_FAMILY="ORACLE_LINUX_9"
else
    echo "### version not supported: ${DOLLAR}VERSION_ID"
    exit
fi

PROFILE_ID="${DOLLAR}(oci os-management-hub profile list --all --query "data.items[?\"os-family\" == '${DOLLAR}{OS_FAMILY}' && \"arch-type\" == '${DOLLAR}{ARCH_TYPE}' && contains(\"display-name\", '-selfregister')]|[0].id" --raw-output)"

printf '\n### registering instance with OS Management Hub\n\n'
printf '### INSTANCE_ID: %s\n' "${DOLLAR}{INSTANCE_ID}" 
printf '###   ARCH_TYPE: %s\n' "${DOLLAR}{ARCH_TYPE}" 
printf '###   OS_FAMILY: %s\n' "${DOLLAR}{OS_FAMILY}" 
printf '###  PROFILE_ID: %s\n\n' "${DOLLAR}{PROFILE_ID}" 

if [[ "${DOLLAR}{DONT_ASK}" != "true"  ]]; then
  idiot_counter
fi

# enable OS Management Hub agent
WORKREQUEST_ID=${DOLLAR}(oci compute instance update --force --agent-config "${DOLLAR}{AGENT_CONFIG}" --instance-id "${DOLLAR}{INSTANCE_ID}" --query "\"opc-work-request-id\"" --raw-output)
echo "${DOLLAR}WORKREQUEST_ID"
while true; do
  STATE=${DOLLAR}(oci work-requests work-request get --work-request-id "${DOLLAR}{WORKREQUEST_ID}" --query "data.status" --raw-output)
  echo ${DOLLAR}STATE
  case "${DOLLAR}{STATE}" in
    "SUCCEEDED"|"FAILED"|"CANCELING"|"CANCELED")
      break
      ;;
    *)
      sleep 5
      ;;
  esac
done
curl -H "Authorization: Bearer Oracle" -L http://169.254.169.254/opc/v2/instance/agentConfig
echo ""
# attach profile to instance
oci os-management-hub managed-instance attach-profile --managed-instance-id "${DOLLAR}{INSTANCE_ID}" --profile-id "${DOLLAR}{PROFILE_ID}"
sudo systemctl restart oracle-cloud-agent.service
